body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    background: url("assets/clouds.jpg") fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

main {
    font-size: 16px;
}

.container-fluid {
    flex-wrap: wrap;
}

.searchBar {
    align-items: center;
    padding: 20px;
    background-color: hsl(0, 0%, 100%, 0.3);
}

#searchBtn {
    background-color: #2b5555;
}

.listBtn {
    background-color: #2b5555;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
    width: 60%;
    margin-bottom: 3px;
    margin-left: 20%;
    margin-right: 20%;
}

.listBtn:hover {
    background-color: #009999;
}

.twContainer {
    padding-top: 15px;
}

.twTop {
    background-color: hsl(0, 0%, 100%, 0.3);
}

#todayUVIndex span {
    padding: 3px;
}

#todayIcon {
    display: block;
    margin: 0 auto;
}

img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

.forecastContainer {
    margin-top: 15px;
    background-color: transparent;
}

.card {
    background-color: #2b5555;
    color: white;
    margin-right: 2px;
    margin-top: 2px;
    width: 203px;
}
